@import url(./all.min.css);
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Righteous');

.nuestro-equipo .titulo-grupo {
    font-size: 40px;
}

.titulo-principal-main {
    width: 100%;
    text-align: center;
    background-color: #ff4037;
    color: white;
    padding: 10px;
    margin: 10px;
}

.nuestro-equipo-img-banner {
    width: 100%;
    text-align: center;
    margin: 25px;
}

.contenedor .parrafo-principal {
    text-align: justify;
}

.nuestro-equipo .contenedor-flex {
    padding: 10px;
    align-items: flex-start;
}

.nuestro-equipo .nuestro-equipo-titulo {
    padding: 10px;
    padding-bottom: 20px;
    font-family: 'Righteous', cursive;
    text-align: center;
    color: #FF4037;
    font-size: 30px;
}

.nuestro-equipo .nuestro-equipo-img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: 5px solid #FF4037;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.nuestro-equipo .desc-nuestro-equipo {
    text-align: center;
}

@media screen and (min-width:480px) {

    .nuestro-equipo .nuestro-equipo-titulo {
        font-size: 25px;
        background-color: dimgrey
    }

    .nuestro-equipo .nuestro-equipo-img {
        width: 140px;
        height: 140px;
    }

    .nuestro-equipo .desc-nuestro-equipo {
        font-size: 16px;
    }
}

/* Este media ira después del media de 480px */

@media screen and (min-width:768px) {

    .nuestro-equipo .nuestro-equipo-titulo {
        font-size: 30px;
    }

    .nuestro-equipo .nuestro-equipo-img {
        width: 200px;
        height: 200px;
    }

    .nuestro-equipo .desc-nuestro-equipo {
        font-size: 18px;
    }
}

@media screen and (min-width:1024px) {

    .nuestro-equipo .nuestro-equipo-titulo {
        font-size: 34px;
        background-color: #FF4037;
        color: white;
    }

    .nuestro-equipo .nuestro-equipo-img {
        width: 250px;
        height: 250px;
    }

    .nuestro-equipo .desc-nuestro-equipo {
        font-size: 18px;
    }
}
